In [3]:
import csv
import pandas as pd

In [4]:
aufzüge = pd.read_csv('Stammdaten_Aufzüge.csv', sep= ';', engine='python')

columns = ['Standort Equipment', 'TechnPlatzBezeichng', 'Equipment', 'Equipmentname','Ort','Wirtschaftseinheit','Hersteller',
          'Baujahr','ANTRIEBSART','ANZAHL_HALTESTELLEN','ANZAHL_TUEREN_KABINE', 'ANZAHL_TUEREN_SCHACHT', 'FOERDERGESCHWINDIGKEIT',
           'FOERDERHOEHE', 'LAGE', 'TRAGKRAFT', 'ERWEITERTE_ORTSANGABE', 'MIN_TUERBREITE', 'KABINENTIEFE', 'KABINENBREITE',
           'KABINENHOEHE', 'TUERHOHE', 'FABRIKNUMMER', 'TUERART','GEOKOORDINATERECHTSWERT','GEOKOORDINATEHOCHWERT', 'AUSFTEXTLICHEBESCHREIBUNG']
aufzüge.columns = columns
aufzüge = aufzüge.drop(0)
aufzüge['Equipment'] = aufzüge['Equipment'].astype(str).astype('int64')

In [10]:
anzahl_seilAufzüge = len(aufzüge[aufzüge['ANTRIEBSART'] == 'SEIL'])

In [11]:
anzahl_hydraulischAufzüge = len(aufzüge[aufzüge['ANTRIEBSART'] == 'HYDRAULISCH'])

In [12]:
aufzüge.head()

,Standort Equipment,TechnPlatzBezeichng,Equipment,Equipmentname,Ort,Wirtschaftseinheit,Hersteller,Baujahr,ANTRIEBSART,ANZAHL_HALTESTELLEN,...,MIN_TUERBREITE,KABINENTIEFE,KABINENBREITE,KABINENHOEHE,TUERHOHE,FABRIKNUMMER,TUERART,GEOKOORDINATERECHTSWERT,GEOKOORDINATEHOCHWERT,AUSFTEXTLICHEBESCHREIBUNG
1,BAHNSTEIG 1,Bahnsteig 01 Richtung Aachen,10001649,Personenaufzug,Aachen Schanz,7205.0,OTIS GmbH & Co. OHG,2004.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aufzug zu Bstg 1 Richtung Aachen
2,BAHNSTEIG 6/7,Bahnsteig 02 Richtung MG,10001650,Personenaufzug,Aachen Schanz,7205.0,OTIS GmbH & Co. OHG,2005.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aufzug zu Gleis 6/7 Richtung MG
3,IM BF AU/SIEG 1,Bahnsteig 02 (Mittelbahnsteig),10003481,HA 1013 Personenaufzug Gleis 2/3,Au (Sieg),204.0,Thyssen Krupp AG,2007.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3405301,017","5627341,9400000004",Aufzug zu Gleis 2/3
4,S-BAHN,Bahnsteig 01 (Hausbahnsteig),10003482,HA 1016 Personenaufzug Gl.1,Au (Sieg),204.0,Thyssen Krupp AG,2008.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3405304,764","5627326,5219999999",Aufzug zu Gleis 1
5,TUNNEL ZUM EG,Empfangsgebäude,10004693,Personenaufzug,Bad Oldesloe,317.0,Rud. Prey GmbH & Co. KG,1998.0,HYDRAULISCH,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aufzug zwischen Gleis 3 und Tunnel (Erdgeschoss)

In [51]:
uniquelist = aufzüge['Hersteller'].unique()

In [52]:
df_anzahlAufzüge = pd.DataFrame(columns=['Hersteller', 'Anzahl_Aufzüge'])

for i in uniquelist:
    tmp = len(aufzüge[aufzüge['Hersteller'] == i])
    df_anzahlAufzüge.loc[i] = i,tmp
df_anzahlAufzüge = df_anzahlAufzüge.sort_values(by=['Anzahl_Aufzüge'], ascending=False)

df_anzahlAufzüge.head()

                                                    Hersteller Anzahl_Aufzüge
Thyssen Krupp AG                              Thyssen Krupp AG            815
OTIS GmbH & Co. OHG                        OTIS GmbH & Co. OHG            558
Schindler Aufzüge und Fahrtrep  Schindler Aufzüge und Fahrtrep             98
Tepper Aufzüge GmbH                        Tepper Aufzüge GmbH             83
Kone GmbH                                            Kone GmbH             59

In [50]:
df_anzahlAufzüge['Hersteller'].iloc[0]

'Thyssen Krupp AG'

In [57]:
uniquelist_orte = aufzüge['Ort'].unique()

df_anzahlProStation = pd.DataFrame(columns=['Ort', 'Anzahl_Aufzüge'])

for i in uniquelist_orte:
    tmp = len(aufzüge[aufzüge['Ort'] == i])
    df_anzahlProStation.loc[i] = i,tmp
df_anzahlProStation = df_anzahlProStation.sort_values(by=['Anzahl_Aufzüge'], ascending=False)

df_anzahlProStation.head()

                                       Ort Anzahl_Aufzüge
Berlin Hauptbahnhof    Berlin Hauptbahnhof             38
Berlin Ostbahnhof        Berlin Ostbahnhof             19
Frankfurt (Main) Hbf  Frankfurt (Main) Hbf             18
Nürnberg Hbf                  Nürnberg Hbf             13
Stuttgart Hbf                Stuttgart Hbf             12

In [7]:
import pymongo
import collections
from pprint import pprint
from bson.son import SON  # for aggregate function
from pymongo.command_cursor import CommandCursor
from types import *
import pandas as pd
import numpy as np
from pandas import DataFrame

In [8]:
resultDictionary = {}
client = pymongo.MongoClient('mongodb://bart:downy37)tory@localhost:27017/eva')
dbeva = client.eva
facilities = dbeva['facilities']

In [109]:
# Liste alles Aufzug IDs
aufzug_ID_liste = facilities.distinct("equipmentnumber")
len(aufzug_ID_liste)

3127

In [102]:
10457324 in aufzug_ID_liste

False

In [56]:
import time

In [112]:
start_time = time.time()

def countBlackouts(): 
    df_anzahlAusfälle = pd.DataFrame(columns=['Aufzug_ID', 'Anzahl_Ausfälle'])

    for aufzug_ID in aufzug_ID_liste[0:-1]:
        tabellen_input = facilities.find({"type": "ELEVATOR", "equipmentnumber": aufzug_ID})
        tabellen_input = pd.DataFrame(list(tabellen_input))

        if tabellen_input.empty:
            pass
        else:
            tabellen_input = tabellen_input[['datetime', 'state']]
            status_tabelle = tabellen_input[::-1]
            status_tabelle.columns = ['Datum_Uhrzeit', 'Status']
            tmp = status_tabelle.to_dict('records')

            counter = 0
            for i in tmp:
                if i['Status'] == 'INACTIVE':
                    counter += 1
            df_anzahlAusfälle.loc[aufzug_ID] = aufzug_ID, counter

countBlackouts()            
print("--- %s Sekunden ---" % (time.time() - start_time))

--- 229.66307854652405 Sekunden ---

In [114]:
df_anzahlAusfälle.head()

         Aufzug_ID Anzahl_Ausfälle
10499641  10499641               6
10499642  10499642               1
10097793  10097793               0
10267599  10267599               6
10267598  10267598               6

In [118]:
df_anzahlAusfälle = df_anzahlAusfälle.sort_values(by=['Anzahl_Ausfälle'], ascending=False)
df_anzahlAusfälle.head()

         Aufzug_ID Anzahl_Ausfälle
10280470  10280470             153
10355939  10355939              86
10453073  10453073              60
10038569  10038569              59
10019474  10019474              57