In [3]:
import csv
import pandas as pd

In [4]:
aufzüge = pd.read_csv('Stammdaten_Aufzüge.csv', sep= ';', engine='python')

columns = ['Standort Equipment', 'TechnPlatzBezeichng', 'Equipment', 'Equipmentname','Ort','Wirtschaftseinheit','Hersteller',
          'Baujahr','ANTRIEBSART','ANZAHL_HALTESTELLEN','ANZAHL_TUEREN_KABINE', 'ANZAHL_TUEREN_SCHACHT', 'FOERDERGESCHWINDIGKEIT',
           'FOERDERHOEHE', 'LAGE', 'TRAGKRAFT', 'ERWEITERTE_ORTSANGABE', 'MIN_TUERBREITE', 'KABINENTIEFE', 'KABINENBREITE',
           'KABINENHOEHE', 'TUERHOHE', 'FABRIKNUMMER', 'TUERART','GEOKOORDINATERECHTSWERT','GEOKOORDINATEHOCHWERT', 'AUSFTEXTLICHEBESCHREIBUNG']
aufzüge.columns = columns
aufzüge = aufzüge.drop(0)
aufzüge['Equipment'] = aufzüge['Equipment'].astype(str).astype('int64')

In [5]:
aufzüge.head()

,Standort Equipment,TechnPlatzBezeichng,Equipment,Equipmentname,Ort,Wirtschaftseinheit,Hersteller,Baujahr,ANTRIEBSART,ANZAHL_HALTESTELLEN,...,MIN_TUERBREITE,KABINENTIEFE,KABINENBREITE,KABINENHOEHE,TUERHOHE,FABRIKNUMMER,TUERART,GEOKOORDINATERECHTSWERT,GEOKOORDINATEHOCHWERT,AUSFTEXTLICHEBESCHREIBUNG
1,BAHNSTEIG 1,Bahnsteig 01 Richtung Aachen,10001649,Personenaufzug,Aachen Schanz,7205.0,OTIS GmbH & Co. OHG,2004.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aufzug zu Bstg 1 Richtung Aachen
2,BAHNSTEIG 6/7,Bahnsteig 02 Richtung MG,10001650,Personenaufzug,Aachen Schanz,7205.0,OTIS GmbH & Co. OHG,2005.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aufzug zu Gleis 6/7 Richtung MG
3,IM BF AU/SIEG 1,Bahnsteig 02 (Mittelbahnsteig),10003481,HA 1013 Personenaufzug Gleis 2/3,Au (Sieg),204.0,Thyssen Krupp AG,2007.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3405301,017","5627341,9400000004",Aufzug zu Gleis 2/3
4,S-BAHN,Bahnsteig 01 (Hausbahnsteig),10003482,HA 1016 Personenaufzug Gl.1,Au (Sieg),204.0,Thyssen Krupp AG,2008.0,SEIL,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3405304,764","5627326,5219999999",Aufzug zu Gleis 1
5,TUNNEL ZUM EG,Empfangsgebäude,10004693,Personenaufzug,Bad Oldesloe,317.0,Rud. Prey GmbH & Co. KG,1998.0,HYDRAULISCH,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aufzug zwischen Gleis 3 und Tunnel (Erdgeschoss)